
*.pdf
*.docx
Image_HW3/LOG.md
*.dat
*.pgm
*.gz
*.jpg
*.happy
Image_HW3/Resources/tests/3.png
Image_HW3/YALE/eyelocs.mat
Image_HW3/YALE/faces/subject01.centerlight
Image_HW3/YALE/faces/subject01.glasses
Image_HW3/YALE/faces/subject01.leftlight
Image_HW3/YALE/faces/subject01.noglasses
Image_HW3/YALE/faces/subject01.normal
Image_HW3/YALE/faces/subject01.rightlight
Image_HW3/YALE/faces/subject01.sad
Image_HW3/YALE/faces/subject01.sleepy
Image_HW3/YALE/faces/subject01.surprised
Image_HW3/YALE/faces/subject01.wink
Image_HW3/YALE/faces/subject02.centerlight
Image_HW3/YALE/faces/subject02.glasses
Image_HW3/YALE/faces/subject02.leftlight
Image_HW3/YALE/faces/subject02.noglasses
Image_HW3/YALE/faces/subject02.normal
Image_HW3/YALE/faces/subject02.rightlight
Image_HW3/YALE/faces/subject02.sad
Image_HW3/YALE/faces/subject02.sleepy
Image_HW3/YALE/faces/subject02.surprised
Image_HW3/YALE/faces/subject02.wink
Image_HW3/YALE/faces/subject03.centerlight
Image_HW3/YALE/faces/subject03.glasses
Image_HW3/YALE/faces/subject03.leftlight
Image_HW3/YALE/faces/subject03.noglasses
Image_HW3/YALE/faces/subject03.normal
Image_HW3/YALE/faces/subject03.rightlight
Image_HW3/YALE/faces/subject03.sad
Image_HW3/YALE/faces/subject03.sleepy
Image_HW3/YALE/faces/subject03.surprised
Image_HW3/YALE/faces/subject03.wink
Image_HW3/YALE/faces/subject04.centerlight
Image_HW3/YALE/faces/subject04.glasses
Image_HW3/YALE/faces/subject04.leftlight
Image_HW3/YALE/faces/subject04.noglasses
Image_HW3/YALE/faces/subject04.normal
Image_HW3/YALE/faces/subject04.rightlight
Image_HW3/YALE/faces/subject04.sad
Image_HW3/YALE/faces/subject04.sleepy
Image_HW3/YALE/faces/subject04.surprised
Image_HW3/YALE/faces/subject04.wink
Image_HW3/YALE/faces/subject05.centerlight
Image_HW3/YALE/faces/subject05.glasses
Image_HW3/YALE/faces/subject05.leftlight
Image_HW3/YALE/faces/subject05.noglasses
Image_HW3/YALE/faces/subject05.normal
Image_HW3/YALE/faces/subject05.rightlight
Image_HW3/YALE/faces/subject05.sad
Image_HW3/YALE/faces/subject05.sleepy
Image_HW3/YALE/faces/subject05.surprised
Image_HW3/YALE/faces/subject05.wink
Image_HW3/YALE/faces/subject06.centerlight
Image_HW3/YALE/faces/subject06.glasses
Image_HW3/YALE/faces/subject06.leftlight
Image_HW3/YALE/faces/subject06.noglasses
Image_HW3/YALE/faces/subject06.normal
Image_HW3/YALE/faces/subject06.rightlight
Image_HW3/YALE/faces/subject06.sad
Image_HW3/YALE/faces/subject06.sleepy
Image_HW3/YALE/faces/subject06.surprised
Image_HW3/YALE/faces/subject06.wink
Image_HW3/YALE/faces/subject07.centerlight
Image_HW3/YALE/faces/subject07.glasses
Image_HW3/YALE/faces/subject07.leftlight
Image_HW3/YALE/faces/subject07.noglasses
Image_HW3/YALE/faces/subject07.normal
Image_HW3/YALE/faces/subject07.rightlight
Image_HW3/YALE/faces/subject07.sad
Image_HW3/YALE/faces/subject07.sleepy
Image_HW3/YALE/faces/subject07.surprised
Image_HW3/YALE/faces/subject07.wink
Image_HW3/YALE/faces/subject08.centerlight
Image_HW3/YALE/faces/subject08.glasses
Image_HW3/YALE/faces/subject08.leftlight
Image_HW3/YALE/faces/subject08.noglasses
Image_HW3/YALE/faces/subject08.normal
Image_HW3/YALE/faces/subject08.rightlight
Image_HW3/YALE/faces/subject08.sad
Image_HW3/YALE/faces/subject08.sleepy
Image_HW3/YALE/faces/subject08.surprised
Image_HW3/YALE/faces/subject08.wink
Image_HW3/YALE/faces/subject09.centerlight
Image_HW3/YALE/faces/subject09.glasses
Image_HW3/YALE/faces/subject09.leftlight
Image_HW3/YALE/faces/subject09.noglasses
Image_HW3/YALE/faces/subject09.normal
Image_HW3/YALE/faces/subject09.rightlight
Image_HW3/YALE/faces/subject09.sad
Image_HW3/YALE/faces/subject09.sleepy
Image_HW3/YALE/faces/subject09.surprised
Image_HW3/YALE/faces/subject09.wink
Image_HW3/YALE/faces/subject10.centerlight
Image_HW3/YALE/faces/subject10.glasses
Image_HW3/YALE/faces/subject10.leftlight
Image_HW3/YALE/faces/subject10.noglasses
Image_HW3/YALE/faces/subject10.normal
Image_HW3/YALE/faces/subject10.rightlight
Image_HW3/YALE/faces/subject10.sad
Image_HW3/YALE/faces/subject10.sleepy
Image_HW3/YALE/faces/subject10.surprised
Image_HW3/YALE/faces/subject10.wink
Image_HW3/YALE/faces/subject11.centerlight
Image_HW3/YALE/faces/subject11.glasses
Image_HW3/YALE/faces/subject11.leftlight
Image_HW3/YALE/faces/subject11.noglasses
Image_HW3/YALE/faces/subject11.normal
Image_HW3/YALE/faces/subject11.rightlight
Image_HW3/YALE/faces/subject11.sad
Image_HW3/YALE/faces/subject11.sleepy
Image_HW3/YALE/faces/subject11.surprised
Image_HW3/YALE/faces/subject11.wink
Image_HW3/YALE/faces/subject12.centerlight
Image_HW3/YALE/faces/subject12.glasses
Image_HW3/YALE/faces/subject12.leftlight
Image_HW3/YALE/faces/subject12.noglasses
Image_HW3/YALE/faces/subject12.normal
Image_HW3/YALE/faces/subject12.rightlight
Image_HW3/YALE/faces/subject12.sad
Image_HW3/YALE/faces/subject12.sleepy
Image_HW3/YALE/faces/subject12.surprised
Image_HW3/YALE/faces/subject12.wink
Image_HW3/YALE/faces/subject13.centerlight
Image_HW3/YALE/faces/subject13.glasses
Image_HW3/YALE/faces/subject13.leftlight
Image_HW3/YALE/faces/subject13.noglasses
Image_HW3/YALE/faces/subject13.normal
Image_HW3/YALE/faces/subject13.rightlight
Image_HW3/YALE/faces/subject13.sad
Image_HW3/YALE/faces/subject13.sleepy
Image_HW3/YALE/faces/subject13.surprised
Image_HW3/YALE/faces/subject13.wink
Image_HW3/YALE/faces/subject14.centerlight
Image_HW3/YALE/faces/subject14.glasses
Image_HW3/YALE/faces/subject14.leftlight
Image_HW3/YALE/faces/subject14.noglasses
Image_HW3/YALE/faces/subject14.normal
Image_HW3/YALE/faces/subject14.rightlight
Image_HW3/YALE/faces/subject14.sad
Image_HW3/YALE/faces/subject14.sleepy
Image_HW3/YALE/faces/subject14.surprised
Image_HW3/YALE/faces/subject14.wink
Image_HW3/YALE/faces/subject15.centerlight
Image_HW3/YALE/faces/subject15.glasses
Image_HW3/YALE/faces/subject15.leftlight
Image_HW3/YALE/faces/subject15.noglasses
Image_HW3/YALE/faces/subject15.normal
Image_HW3/YALE/faces/subject15.rightlight
Image_HW3/YALE/faces/subject15.sad
Image_HW3/YALE/faces/subject15.sleepy
Image_HW3/YALE/faces/subject15.surprised
Image_HW3/YALE/faces/subject15.wink
Image_HW3/YALE/matlab/dump_bases.m
Image_HW3/YALE/matlab/face_matrix.m
Image_HW3/YALE/matlab/face_setup.m
Image_HW3/YALE/matlab/find_support.m
Image_HW3/YALE/matlab/pad_faces.m
Image_HW3/YALE/matlab/pca_faces.m
Image_HW3/YALE/matlab/pgmRead.m
Image_HW3/YALE/matlab/pgmWrite.m
Image_HW3/YALE/matlab/prompt_eyes.m
Image_HW3/YALE/matlab/README
Image_HW3/YALE/matlab/rotate_faces.m
Image_HW3/YALE/matlab/shift_faces.m
Image_HW3/YALE/matlab/support_faces.m
Image_HW3/YALE/matlab/unpad_faces.m
*.png
*.rar
